<!-- <form style="margin-bottom: 50em">
  <div class="container mt-5">
    <div class="row">
      <div class="">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-4 border-bottom border-info">
            <h3 class="bullet-icon">String interpolation</h3>
            <div class="mt-4">{{ ProjectName }} and {{ title }}</div>

            <div class="mt-4">{{ getCustomerName() }}</div>
          </li>

          <li class="list-group-item p-4 border-bottom border-info">
            <h3 class="bullet-icon">Property Data binding</h3>

            <div class="row">
              <div class="col-md-6">
                <input class="form-control mt-4" type="text" value="Admin" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <input
                  class="form-control mt-4 col-md-3"
                  type="text"
                  [value]="customerRole"
                />
              </div>
            </div>

            <div class="">
              <input class="form-check-input mt-4" [type]="inputType" />
            </div>

            <div class="">
              <input
                class="form-check-input mt-4"
                [type]="inputType"
                [disabled]="isDisabled"
              />
            </div>
          </li>

          <li class="list-group-item p-4 border-bottom border-info">
            <h3 class="bullet-icon">Event Data binding</h3>
            <div class="row mt-4">
              <div class="col-md-6">
                <input
                  placeholder="KeyPress"
                  class="form-control"
                  type="text"
                  (keypress)="captureData($event)"
                />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-6">
                <input
                  placeholder="KeyUp"
                  class="form-control"
                  type="text"
                  (keyup)="captureData($event)"
                />
              </div>
            </div>
            <div class="mt-4">
              <button class="btn btn-primary" (click)="evtClick()">
                Click
              </button>
            </div>
<!-- 
            Below is code i am using for show the details in alert 
            But it woul't come we will see by using local ref 
            we can do -->
            <div class="row mt-4">
              <div class="col-md-6">
                <input
                  placeholder="Enter Project Deails"
                  class="form-control"
                  type="text"
                  [value]="ProjectDetails"
                />
              </div>
              <div class="col-md-1">
                <button class="btn btn-success" (click)="evtShowClick()">
                  Show
                </button>
              </div>
            </div>


          </li>

          <li class="list-group-item p-4 border-bottom border-info">
            <h3 class="bullet-icon">
              Handling the Event Data binding and Property Data binding together
              in same element
            </h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-4">
                <h6>HTML DOM with (keyUp) and [value]</h6>-->
                <!-- We can handle the Data based on the HTML DOM Events
                <div class="row mt-4">
                  <div class="col-md-6">
                    <input
                      placeholder="KeyPress"
                      class="form-control"
                      type="text"
                      (keyup)="evtCusLocationKeyUp($event)"
                      [value]="cusPeterLocation"
                    />
                  </div>
                  <div class="col-md-6">
                    <p class="text-primary mt-auto">{{ cusPeterLocation }}</p>
                  </div>
                </div>
              </li>
              <li class="list-group-item p-4">
                <h6>Angular with [ngModel] and (ngModelChange)</h6>-->
                <!-- We can handle the data by monitor the model changes
                <div class="row mt-4">
                  <div class="col-md-6">
                    <input
                      placeholder="Location"
                      class="form-control"
                      type="text"
                      name="cusJohnLocation"
                      [ngModel]="cusJohnLocation"
                      (ngModelChange)="evtCusLocationModelChange($event)"
                    />
                  </div>
                  <div class="col-md-6">
                    <p class="text-primary mt-auto">{{ cusJohnLocation }}</p>
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <li class="list-group-item p-4 border-bottom border-info">
            <h3 class="bullet-icon">Two Way Data binding</h3>
            <div class="row mt-4">
              <div class="col-md-3">
                <input
                  name="Guest Name"
                  placeholder="Guest Name"
                  class="form-control"
                  [(ngModel)]="guestName"
                />
              </div>
              <div class="col-md-3">
                <input
                  name="Guest Location"
                  placeholder="Guest Location"
                  class="form-control"
                  [(ngModel)]="guestLocation"
                />
              </div>
              <div class="col-md-6">
                <p class="text-primary mt-auto">
                  Hello I am your guest . My Name is
                  <span class="fs-4">{{ guestName }}</span> and
                   Iam from
                  <span class="fs-4">{{ guestLocation }}</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form> -->

<!-- <app-comp-a></app-comp-a> -->
<app-comp-b>

    <!-- <input type="text" placeholder="CustomerLocation" class="form-control" /> -->

    <input type="text" placeholder="Cusomername" class="form-control" #Cusotmername />

    <!-- <input type="text" class="JobTitle form-control"  placeholder="JobTitle"  /> -->

    <input type="text" class="form-control"  placeholder="JobTitle" JobTitle #CustomerLocation />
    
</app-comp-b>




